<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookmaker{% endblock %}</title>
</head>
<body>
    <header>
        <a href="{% url 'bookmaker:index' %}">Bukmacher.pl</a> - Tu przegrasz wszystkie swoje pieniądze!
        {% if user.is_authenticated %}
            <p>Cześć użytkowniku <a href="{% url 'bookmaker:user_info' %}">{{ user.username }}</a>!</p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Wyloguj</button>
            </form>
            <button><a href="{% url 'bookmaker:create_bet' %}">Dodaj zakład</a></button>
        {% else %}
            <p>Cześć nieznany użytkowniku!</p>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <button type="submit">Zaloguj</button>
            </form>
            <p>Nie masz jeszcze konta?</p>
            <form method="post" action="{% url 'bookmaker:signup' %}">
                {% csrf_token %}
                <button type="submit">Zarejestruj się!</button>
            </form>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer></footer>
</body>
</html>