{% extends 'base.html' %}
{% load l10n %}

{% block title %}All bets{% endblock %}
{% localize on %}
{% block content %}
    {% if user.is_authenticated %}
        <p>Na koncie masz {{ user_profile.wallet }} EuroMonet</p>
    {% endif %}
    {% if bets_list %}
        {% for bet in bets_list %}
            {% if not bet.is_resolved %}
                <div class="bet">
                    <h2>{{ bet.bet_text }}</h2>
                    <h3>{{ bet.resolve_date }}</h3>
                    {% if bet.possible_to_draw %}
                        <p>Tak/0 - {{ bet.get_win_odds }}, REMIS/1 - {{ bet.get_draw_odds }}, Nie/2 - {{ bet.get_loose_odds }}</p>
                    {% endif %}
                    <a href="{% url 'bookmaker:comments' bet.id %}">Zobacz komentarze</a>
                    <a href="{% url 'bookmaker:place_bet' bet.id %}">Obstaw</a>
                </div>
            {% else %}
                <div class="bet-resolved">
                    <h2>{{ bet.bet_text }}</h2>
                    {% if bet.result == 0 %}
                        <p>Zakład został zakończony - WIN</p>
                    {% elif bet.result == 1 %}
                        <p>Zakład został zakończony - DRAW</p>
                    {% else %}
                        <p>Zakład został zakończony - LOOSE</p>
                    {% endif %}    
                </div>
            {% endif %}
            
        {% endfor %}
    {% else %}
        <h1>No bets in database</h1>
    {% endif %}
{% endblock %}
{% endlocalize %}