{% extends 'base.html' %}
{% block title %}Info{% endblock %}
{% block content %}
    <h1>{{ user.username }}</h1>
    <h3>Twoje zakłady</h3>
    {% for bet in user_bets %}
        <h4>{{ bet.bet.bet_text }}</h4>
        <p>Jak obstawiles:</p>
        {% if bet.wagered_option == 0 %}
            <p>WIN - {{ bet.wagered_amount }}</p>
        {% elif bet.wagered_option == 1 %}
            <p>DRAW - {{ bet.wagered_amount }}</p>
        {% else %}
            <p>LOOSE - {{ bet.wagered_amount }}</p>
        {% endif %}
        {% if bet.bet.resolved %}
            <p>Rezultat</p>
            {% if bet.bet.result == 0 %}
                <p>WIN</p>
            {% elif bet.bet.result == 1 %}
                <p>DRAW</p>
            {% else %}
                <p>LOOSE</p>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}